<% layout('layouts/boilerplate') %>
    <h1>All areas</h1>
        <div>
            <a href="/areas/new">Add New Area</a>
        </div>
<% for (let area of areas) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" alt="" src="<%=area.images[0].url%>">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=area.title%>
                        </h5>
                        <p class="card-text">
                            <%=area.description%>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= area.location %>
                            </small>
                        </p>
                        <a href="/areas/<%= area._id %>" class="btn btn-primary">
                            <%= area.title %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
<% } %>
